body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

.w3-bar .w3-button {
  padding: 16px;
}

.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/1x1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/1x1.jpg");
  min-height: 100%;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  cursor:grabbing;
}

#sortable div {
  margin-bottom: 10px;
}

#sortable p {
  padding-left: 10px;
}

#sortable li {
  margin-bottom: 10px;
  padding-left: 10px;
  height: 30px;
}

#sortable li span {
  padding-left: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#chechtostartgame {
  border:10px solid; 
}

/*

.glow_tips_button {
  text-align: center;
  animation: glow_tips 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow_tips {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #808080, 0 0 40px #808080, 0 0 50px #808080, 0 0 60px #808080, 0 0 70px #808080;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000, 0 0 80px #000;
  }
}
.glow_rules_button {
  text-align: center;
  animation: glow_tips 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow_rules {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #808080, 0 0 40px #808080, 0 0 50px #808080, 0 0 60px #808080, 0 0 70px #808080;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000, 0 0 80px #000;
  }
}
*/
